/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1,h2,h3,h4,h5 {
	font-family: 'Paytone One', sans-serif;
}

body {
	background-color: #2b3d58;
}

main {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {

main {
		flex-direction: row
}
	}

header {
	background-color: #2b3d58;
}

.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #2b3d58;
}

@media (min-width: 600px) {

.sidebar {
		height: 100vh;
		min-width: 180px
}
	}

.locations-toggler {
	position: absolute;
	z-index: 1;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -20px;
	left: calc(50% - 20px);
	border: none;
	background-color: white;
	box-shadow: 0 0 0 0 #2b3d58;
	transition: all, .3s;
}

.locations-toggler:before {
		content: "";
		position: absolute;
		left: calc(50% - 12px);
		top: 10px;
		width: 24px;
		height: 5px;
		background-color: #2b3d58;
		box-shadow:
		0 7px 0 0 #2b3d58,
		0 14px 0 0 #2b3d58;
		transition: all, .3s;
	}

.locations-toggler:hover {
		background-color: #2b3d58;
		cursor: pointer;
		outline: none;
	}

.locations-toggler:hover:before {
			background-color: white;
			box-shadow:
			0 7px 0 0 white,
			0 14px 0 0 white;
		}

.locations-toggler:focus {
		outline: none;
		box-shadow: 0 0 30px -2px #b7edf3;
	}

@media (min-width: 600px) {

.locations-toggler {
		display: none
}
	}

.locations {
	padding: 0 10px 40px 10px;
	background-color: #2b3d58;
	color: #ccd9ef;
}

.locations h2 {
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

.locations__list {
	-webkit-columns: 2;
	        columns: 2;
}

@media (min-width: 600px) {

.locations__list {
		-webkit-columns: auto;
		        columns: auto
}
	}

@media (max-width: 600px) {
		.locations__list.locations__list--minimized {
			display: none;
		}
	}

.locations__item {
	padding: .33em .5em;
	border-radius: 5px;
	transition: all, .5s;
}

.locations__item:hover {
		cursor: pointer;
		color: white;
	}

.locations__item--selected {
	color: white;
	background-color: rgb(37, 52, 75);
}

.map-container {
	width: 100%;
	//min-height: 500px;
	height: 100vw;
}

@media (min-width: 600px) {

.map-container {
		height: 100vh;
		//min-height: 800px
}
	}

.logo {
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	color: #ccd9ef;
}

@media (min-width: 600px) {

.logo {
		flex-direction: column
}
	}

.logo__top,
.logo__middle,
.logo__bottom {
	text-transform: uppercase;
	font-size: 1.5em;
}

@media (min-width: 600px) {

.logo__top,
.logo__middle,
.logo__bottom {
		display: block;
		text-align: center
}
	}

@media (min-width: 600px) {

.logo__top {
		font-size: 1.6em
}
	}

.logo__middle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	border: 2px solid #2b3d58;
	background-color: rgb(255, 0, 47);
	border-radius: 50%;
	color: white;
	z-index: 2;
	font-size: 13px;
	-webkit-animation: bg-color-cycle 10s infinite;
	        animation: bg-color-cycle 10s infinite;
}

@media (min-width: 600px) {

.logo__middle {
		margin: -10px auto -20px
}
	}

@media (min-width: 600px) {

.logo__bottom {
		font-size: 2.4em
}
	}

@-webkit-keyframes bg-color-cycle {
	0% { background-color: rgb(255, 0, 47); }
	33% { background-color: #55a235; }
	66% { background-color: #d49304; }
	100% { background-color: rgb(255, 0, 47) }
}

@keyframes bg-color-cycle {
	0% { background-color: rgb(255, 0, 47); }
	33% { background-color: #55a235; }
	66% { background-color: #d49304; }
	100% { background-color: rgb(255, 0, 47) }
}

.filter {
	margin: 0 0 10px 0;
	text-align: center;
}

.filter__label {
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}

.temperature {
	position: relative;
	height: 10px;
	width: calc(100% - 40px);
	max-width: 240px;
	margin: 30px auto;
	background-color: #ccd9ef;
	border-radius: 5px;
}

.temperature:before {
		content: 'TEMP';
		position: absolute;
		top: -1.25em;
		left: 0;
		font-size: 12px;
		color: rgba(204, 217, 239, 0.33);
		opacity: 1;
		transition: all, 1s;
		-webkit-animation: fade-in 1s;
		        animation: fade-in 1s;
	}

.temperature:after {
		content: '';
		position: absolute;
		left: 2px;
		top: 2px;
		border-radius: 3px;
		height: 6px;
		width: 0%;
		background-color: #0025d8;
		transition: all, 1s;
	}

.temperature__value {
	position: absolute;
	top: -1.25em;
	color: white;
	font-size: 12px;
	left: 0;
	opacity: 1;
	transition: all, 1s;
}

.temperature__value:before {
		content: '';
		position: absolute;
		left: -5px;
		top: 0;
		width: 1px;
		height: 20px;
		background-color: #ccd9ef;
	}

.temperature--thirty:after {
		width: 80%;
		background-color: #d80028;
	}

.temperature--thirty .temperature__value {
		left: calc(80% + 5px);
	}

.temperature--twentyfive:after {
		width: 70%;
		background-color: #d85000;
	}

.temperature--twentyfive .temperature__value {
		left: calc(70% + 5px);
	}

.temperature--twenty:after {
		width: 65%;
		background-color: #d88c00;
	}

.temperature--twenty .temperature__value {
		left: calc(65% + 5px);
	}

.temperature--fifteen:after {
		width: 50%;
		background-color: #00d825;
	}

.temperature--fifteen .temperature__value {
		left: calc(50% + 5px);
	}

.temperature--ten:after {
		width: 40%;
		background-color: #13b581;
	}

.temperature--ten .temperature__value {
		left: calc(40% + 5px);
	}

.temperature--zero:after {
		width: 30%;
		background-color: #009cd8;
	}

.temperature--zero .temperature__value {
		left: calc(30% + 5px);
	}

.temperature--frozen:before {
		left: auto;
		right: 0;
	}

.temperature--frozen:after {
		width: 10%;
		background-color: #0025d8;
	}

.temperature--frozen .temperature__value {
		left: calc(10% + 5px);
	}

.temperature--error:before {
		content: 'API ERROR!';
		right: 0;
		left: auto;
		opacity: 1;
		-webkit-animation: fade-in 4s;
		        animation: fade-in 4s;
	}

.temperature--error:after {
		width: 10%;
	}

.temperature--error .temperature__value {
		left: calc(10% + 5px);
	}

@-webkit-keyframes fade-in {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade-in {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.infoBox {
	background-color: white;
	padding: 10px;
	overflow: visible !important;
	min-width: 250px !important;
	-webkit-transform: translateX(-50%) translateY(15px) !important;
	        transform: translateX(-50%) translateY(15px) !important;
	box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.infoBox:before {
		content: '';
		position: absolute;
		top: -30px;
		left: calc(50% - 15px);
		width: 30px;
		height: 30px;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid transparent;
		border-bottom: 15px solid white;
	}

.infoBox img {
		z-index: 2;
	}

.infoBox__heading {
	font-size: 1.2em;
}