@import 'reset.scss';

$darkblue: #2b3d58;
$lightblue: #ccd9ef;
$red: #d80028;
$yellow: #d49304;
$green: #55a235;

$base-font-family: 'Lato', sans-serif;
$heading-font-family: 'Paytone One', sans-serif;

html {
	box-sizing: border-box;
	font-family: $base-font-family;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1,h2,h3,h4,h5 {
	font-family: $heading-font-family;
}

body {
	background-color: $darkblue;
}

main {
	display: flex;
	flex-direction: column;

	@media (min-width: 600px) {
		flex-direction: row;
	}
}

header {
	background-color: $darkblue;
}

.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $darkblue;

	@media (min-width: 600px) {
		height: 100vh;
		min-width: 180px;
	}
}

.locations-toggler {
	position: absolute;
	z-index: 1;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -20px;
	left: calc(50% - 20px);
	border: none;
	background-color: white;
	box-shadow: 0 0 0 0 $darkblue;
	transition: all, .3s;

	&:before {
		content: "";
		position: absolute;
		left: calc(50% - 12px);
		top: 10px;
		width: 24px;
		height: 5px;
		background-color: $darkblue;
		box-shadow:
		0 7px 0 0 $darkblue,
		0 14px 0 0 $darkblue;
		transition: all, .3s;
	}

	&:hover {
		background-color: $darkblue;
		cursor: pointer;
		outline: none;

		&:before {
			background-color: white;
			box-shadow:
			0 7px 0 0 white,
			0 14px 0 0 white;
		}
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 30px -2px #b7edf3;
	}

	@media (min-width: 600px) {
		display: none;
	}
}

.locations {
	padding: 0 10px 40px 10px;
	background-color: $darkblue;
	color: $lightblue;

	h2 {
		font-size: 20px;
		font-weight: bold;
		color: white;
	}
}

.locations__list {
	columns: 2;

	@media (min-width: 600px) {
		columns: auto;
	}

	@media (max-width: 600px) {
		&.locations__list--minimized {
			display: none;
		}
	}
}

.locations__item {
	padding: .33em .5em;
	border-radius: 5px;
	transition: all, .5s;

	&:hover {
		cursor: pointer;
		color: white;
	}
}

.locations__item--selected {
	color: white;
	background-color: darken($darkblue, 15%);
}

.map-container {
	width: 100%;
	//min-height: 500px;
	height: 100vw;

	@media (min-width: 600px) {
		height: 100vh;
		//min-height: 800px;
	}
}

.logo {
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	color: $lightblue;

	@media (min-width: 600px) {
		flex-direction: column;
	}
}

.logo__top,
.logo__middle,
.logo__bottom {
	text-transform: uppercase;
	font-size: 1.5em;

	@media (min-width: 600px) {
		display: block;
		text-align: center;
	}
}

.logo__top {
	@media (min-width: 600px) {
		font-size: 1.6em;
	}
}

.logo__middle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	border: 2px solid $darkblue;
	background-color: lighten($red, 20%);
	border-radius: 50%;
	color: white;
	z-index: 2;
	font-size: 13px;
	animation: bg-color-cycle 10s infinite;

	@media (min-width: 600px) {
		margin: -10px auto -20px;
	}
}

.logo__bottom {
	@media (min-width: 600px) {
		font-size: 2.4em;
	}
}

@keyframes bg-color-cycle {
	0% { background-color: lighten($red, 20%); }
	33% { background-color: $green; }
	66% { background-color: $yellow; }
	100% { background-color: lighten($red, 20%) }
}

.filter {
	margin: 0 0 10px 0;
	text-align: center;
}

.filter__label {
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(white, 0.5);
}

.temperature {
	position: relative;
	height: 10px;
	width: calc(100% - 40px);
	max-width: 240px;
	margin: 30px auto;
	background-color: $lightblue;
	border-radius: 5px;

	&:before {
		content: 'TEMP';
		position: absolute;
		top: -1.25em;
		left: 0;
		font-size: 12px;
		color: rgba($lightblue, 0.33);
		opacity: 1;
		transition: all, 1s;
	}

	&:after {
		content: '';
		position: absolute;
		left: 2px;
		top: 2px;
		border-radius: 3px;
		height: 6px;
		width: 0%;
		background-color: #0025d8;
		transition: all, 1s;
	}
}

.temperature__value {
	position: absolute;
	top: -1.25em;
	color: white;
	font-size: 12px;
	left: 0;
	opacity: 1;
	transition: all, 1s;

	&:before {
		content: '';
		position: absolute;
		left: -5px;
		top: 0;
		width: 1px;
		height: 20px;
		background-color: $lightblue;
	}
}

.temperature--thirty {
	&:after {
		width: 80%;
		background-color: $red;
	}

	.temperature__value {
		left: calc(80% + 5px);
	}
}

.temperature--twentyfive {
	&:after {
		width: 70%;
		background-color: #d85000;
	}

	.temperature__value {
		left: calc(70% + 5px);
	}
}

.temperature--twenty {
	&:after {
		width: 65%;
		background-color: #d88c00;
	}

	.temperature__value {
		left: calc(65% + 5px);
	}
}

.temperature--fifteen {
	&:after {
		width: 50%;
		background-color: #00d825;
	}

	.temperature__value {
		left: calc(50% + 5px);
	}
}

.temperature--ten {
	&:after {
		width: 40%;
		background-color: #13b581;
	}

	.temperature__value {
		left: calc(40% + 5px);
	}
}

.temperature--zero {
	&:after {
		width: 30%;
		background-color: #009cd8;
	}

	.temperature__value {
		left: calc(30% + 5px);
	}
}

.temperature--frozen {
	&:before {
		left: auto;
		right: 0;
	}

	&:after {
		width: 10%;
		background-color: #0025d8;
	}

	.temperature__value {
		left: calc(10% + 5px);
	}
}

.temperature--error {
	&:before {
		opacity: 0;
	}

	&:after {
		width: 10%;
	}

	.temperature__value {
		left: calc(10% + 5px);
	}
}
